.pricingWrapper {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-gap: 2rem;
    justify-content: center;
    padding: 1rem 0;
}

@media screen and (max-width: 868px) {
   
    
    .pricingWrapper {
        display: grid;
        grid-template-columns: repeat(1, 42vmax);
        grid-gap: 2rem;
        justify-content: center;
        padding: 1rem 0;
    }

}